@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  background-color: #36BA98;
  min-height: 100vh;
}
body, .container, .content-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: #fff;
  width: 440px;
  padding: 30px 30px 38px;
  border-radius: 10px;
  flex-direction: column;
}
.container img{
  max-width: 103px;
}

.container h1{
  font-size: 38px;
  font-weight: 600;
  margin: 30px 0px;
}
.container .content-box{
  width: 100%;
  justify-content: space-between;
}
.container .content-box.disabled{
  opacity: 0.6;
  pointer-events: none;
}
.content-box .column{
  border: 1px solid #999;
  padding: 0px 10px;
  border-radius: 5px;
  width: calc(100%/3 - 5px);
}
.column select{
  outline: none;
  border: none;
  height: 53px;
  width: 100%;
  font-size: 19px;
}
.container button{
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  padding: 17px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #36BA98;
  color: #fff;
}
